<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css" />
    <title>Adding Data</title>
</head>
<body>
    <form action="/add" method="post">
        <input type="text" name="name" placeholder="Insert your name" required />
        <input type="number" name="height" placeholder="insert your height" />
        <input type="number" step="0.0001" name="weight" placeholder="insert your weight" />
        <input type="date" name="birthdate"/>
        <select name="married">
            <option disabled selected> Have you married? </option>
            <option value="true">Yes</option>
            <option value="false">Not Yet</option>
        </select>
        <button type="submit">Save</button>
        <a href="/" class="btn">cancel</a>
    </form>
</body>
</html>